    @import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background: var(--bgc, #162831);
    }
    
    .menu a {
        text-decoration: none;
        color: white;
        color: var(--white, #FFF);
        font-size: 14px;
        font-weight: 400;
        line-height: 135%;
    }
    .menu a:hover {
        color: #018ABE;
    }
    .menu a:active {
        color: rgb(48, 48, 48);
    }
    
    .menu {
        display: flex;
        list-style: none;
        width: 655px;
        justify-content: space-between;
    }
    
    header {
        width: 1298px;
        margin: auto;
    }
    
    .header__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }
    
    .header__btm {
        border-radius: 3px;
        background: var(--accent, #018ABE);
        border: none;
        padding: 9px 15px;
        color: white;
        font-size: 13px;
        font-weight: 600;
        line-height: 140%;
        transition: 2s;
    }
    
    .header__btm:hover {
        border-radius: 0px;
        color: #426c7c;
    }
    .header__btm:active {
        color: #162831;
    }
    .header__bottom {
        background-image: url(images/header__img.png);
        height: 600px;
        margin-top: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .bottom_tagline h4 {
        color: var(--white, #FFF);
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 140%;
    }
    
    .bottom_tagline {
        width: 429px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    
    h1 {
        color: var(--white, #FFF);
        text-align: center;
        font-size: 64px;
        font-weight: 700;
        line-height: 140%;
        width: 587px;
        height: 180px;
        margin-bottom: 77px;
    }
    
    .container {
        width: 1296px;
        margin: 150px auto;
    }
    
    .title h2 {
        color: var(--white, #FFF);
        text-align: center;
        font-size: 42px;
        font-weight: 700;
        line-height: 140%;
    }
    
    .title {
        display: flex;
        width: 482px;
        justify-content: space-between;
        margin: auto;
        margin-bottom: 100px;
    }
    
    .session__cards {
        color: var(--white, #FFF);
        font-size: 24px;
        font-weight: 700;
        line-height: 140%;
        display: flex;
        justify-content: space-between;
    }
    
    .big-card {
        width: 416px;
        height: 540px;
        background-image: url(images/height.png);
        padding-top: 456px;
        padding-left: 50px;
        transition: 1s;
    }
    .big_card:hover {
        transform: scale(0.7);
    }
    .small {
        background-image: url(images/width.png);
        width: 416px;
        height: 258px;
        margin-bottom: 24px;
        transition: 1s;
    }
    .small:hover {
        transform: scale(0.7);
    }
    .small-cards {
        flex-wrap: wrap;
        width: 856px;
        display: flex;
        justify-content: space-between;
        transition: 1s;
    }
    .small_card:hover {
        transform: scale(0.7);
    }
    .left {
        padding-top: 194px;
        padding-left: 40px;
    }
    
    .right {
        padding-top: 160px;
        padding-left: 40px;
    }
    
    .block__small {
        width: 500px;
        height: 276px;
        border-radius: 10px;
        background: var(--accent, #018ABE);
        color: #fff;
        margin: 50px;
        opacity: 0.5;
    }
    .block__small:hover {
        opacity: 100%;
    }
    
    .block__big {
        width: 636px;
        height: 350px;
        border-radius: 10px;
        background: var(--accent, #018ABE);
        color: #fff;
    }
    
    h3 {
        font-size: 16px;
        line-height: 140%;
        padding: 40px 45px 15px 45px;
        font-family: 'Proxima Nova Extra Condensed', sans-serif;
    }
    
    .review {
        font-size: 10px;
        line-height: 140%;
        padding: 0 45px 71px 45px;
        height: 128px;
        font-family: 'Proxima Nova Condensed', sans-serif;
    }
    
    .reviews__block {
        margin: 150px 150px 0 150px auto;
        display: flex;
    }
    
    .review-span {
        padding-top: 45px;
        display: block;
    }
    
    .reviews {
        width: 1736px;
    }
    
    .controls {
        margin: auto;
        display: flex;
        margin-top: 60px;
    }
    
    .describe__block__one {
        width: 1076px;
        height: 365px;
        display: flex;
    }
    
    h4 {
        color: var(--white, #FFF);
        font-size: 24px;
        font-weight: 700;
        line-height: 140%;
        margin-bottom: 30px;
    }
    
    .describe__p {
        color: var(--white, #FFF);
        font-size: 16px;
        font-weight: 300;
        line-height: 140%;
        width: 466px;
        height: 170px;
        opacity: 0.6;
    }
    
    .block__one__right {
        margin-right: 100px;
        padding-top: 70px;
        transition: 1s;
    }
    .block__one__right:hover {
        transform: scale(0.7);
    }
    .describe__block__two {
        display: flex;
        margin-top: 115px;
        transition: 1s;
    }
    .describe__block__two:hover {
        transform: scale(0.7);
    }
    .block__two__left {
        margin-left: 100px;
    }
    
    .describe__block {
        margin-left: 100px;
    }
    
    .price__list__ul {
        list-style: none;
        list-style-image: url(images/leaf.svg);
        color: var(--white, #FFF);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin-left: 158px;
    }
    
    .price__list__ul li {
        padding-left: 20px;
        width: 268px;
        margin-bottom: 31px;
        font-family: 'Proxima Nova Extra Condensed', sans-serif;
    }
    
    .price__span span {
        width: 87px;
        padding-left: 23px;
        margin-bottom: 31px;
        font-family: 'Proxima Nova Extra Condensed', sans-serif;
        display: flex;
        margin-right: 134px;
    }
    
    .price__span {
        color: var(--white, #FFF);
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;
        flex-direction: column;
    }
    
    .price__list {
        display: flex;
        flex-direction: row;
    }
    
    h5 {
        color: var(--white, #FFF);
        text-align: center;
        font-size: 21px;
        font-weight: 700;
        line-height: 140%;
        margin-top: 30px;
    }
    
    .price__content {
        display: flex;
        flex-direction: row;
    }
    
    .price-price {
        margin-top: 104px;
    }
    
    footer {
        width: 1296px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        height: 604px;
        flex-wrap: wrap;
    }
    
    .map {
        background-image: url(images/Rectangle\ 27.png);
        width: 856px;
        height: 604px;
    }
    
    .map__one {
        margin: 66px 0 0 330px;
    }
    
    .map__cards {
        width: 392px;
        height: 290px;
        border-radius: 10px;
        background: var(--accent, #018ABE);
        margin-bottom: 24px;
    }
    
    .map__p {
        color: var(--white, #FFF);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        font-family: 'Proxima Nova Extra Condensed', sans-serif;
        margin-left: 32px;
        padding-top: 35px;
    }
    
    .map__li {
        color: var(--white, #FFF);
        font-family: 'Proxima Nova Extra Condensed', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;
    }
    
    .map__ul__one {
        list-style: none;
        list-style-image: url(images/carbon_location-filled.svg);
        margin-left: 60px;
        margin-top: 21px;
    }
    
    .map__ul__two {
        list-style: none;
        list-style-image: url(images/Spb_metro_logo\ 1.svg);
        margin-left: 60px;
        margin-top: 21px;
    }
    
    .map__ul__three {
        list-style: none;
        list-style-image: url(images/bi_calendar-week-fill.svg);
        margin-left: 60px;
        margin-top: 21px;
    }
    
    .map_btm {
        width: 155px;
        height: 36px;
        border-radius: 3px;
        border: none;
        color: var(--accent, #018ABE);
        font-family: 'Proxima Nova Extra Condensed', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        margin: 30px 0 0 32px;
    }
    
    h6 {
        color: lawngreen;
        font-family: 'Proxima Nova Extra Condensed', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;
        margin-top: 60px;
    }